/* Set´s default for all boxes to have a border around, child element, default padding on all sides to 0, same for margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Determines the background color of the body, which is white */
body {
    background-color: #d9dcd6;
}

/* Padding for all header elements, is 20px to the border, prioritized font-family is ´Trebuchet MS´, background-color of body overwritten with blue Hex color, white font */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* display property for header h1 (block) used to set new display value, so it wouldn´t start on a new line  */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* abbr selector to select abbr inside Horiseon to mark the word SEO with a different color */
header h1 abbr {
    color: #d9dcd6;
}

/* nav in header top padding to 15px, outside of nav invisible border 20px on the right, floats on the right side, prioritized font-family ´Gill Sans´ and 20px font size */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removes list item markers, in this case the bullets */
header nav ul {
    list-style-type: none;
}

/* display property to inline-block, margin outside box of list-items 25px on the left */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* links inside the list items are white in the navigation bar and have no text-decoration, in the case of links the underline */
a {
    color: #ffffff;
    text-decoration: none;
}


/* the section with the hero class is 800px height, 100% of the pages size wide and has a margin on the bottom of 25px, the background-image, which takes most of the pages size,
is located in the images folder, within the assets folder, found with the specific url, the background-size preserves ratio of image and shrinks it
to smallest possible size to fill container */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* All paragraphs have the same size of 16px. */
p {
    font-size: 16px;
}

/* the content section, in which the three following sections are embedded, has a width of 75% of the page, is displayed as inline-block and margin-left: 20px */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* SEO section text and picture, margin in the bottom 20px, padding inside border 50px on all sides, content height of 300px, prioritize ´Gil Sans`, background-color blue, and white font*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Same as SEO section */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Same as SEO section */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* SEO img floats on the left of text about SEO (let´s text wrap around img on the right) and has a margin of 25px on left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* Online Reputation Management img floats on the right of paragraph about Online Reputation Management and has a margin of 25px */
.float-right {
    float: right;
    margin-left: 25px;
}

/* SEO h2 leaves margin on bottom between paragraph and heading, font-size of heading is determined */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Same as SEO h2 */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Same as SEO h2 */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* max-height of img 200px */
.search-engine-optimization img {
    max-height: 200px;
}

/* max-height of img 200px */
.online-reputation-management img {
    max-height: 200px;
}

/* max-height of img 200px */
.social-media-marketing img {
    max-height: 200px;
}

/* Margin on the right 20px, padding on all sides 20px, move element down and clear both left and right floats (img stays on top, text doesn´t wrap), float right to let element float on the right,
width of element 20% of the page (remaining 5% are the margin between content and benefits section), height (100% of it´s parent main), ´Gil Sans´ priority, background in hex-color blue   */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* margin on bottom 32px to make space for Brand awareness, font color hex white */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Same as benefit-lead, but makes space in the bottom for benefit cost */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Same as benefit-lead, but leaves a margin in the bottom */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Margin to make space for image with 10px in the bottom, heading is aligned in the center */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Same as benefit-lead h3*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Same as benefit-lead h3*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* changes img from inline-block to block, leaves a margin on top and bottom of 10px and auto on the left and right (centers the picture), max-width of img 150px */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* same as benefit-lead img */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* same as benefit-lead img */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* space inside the invisible border for footer is 30px, clear both (doesn´t wrap on the left nor right), preferred font is ´Trebuchet MS´, text is aligned in the center */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer h3, determines the font size of the h3 heading of the footer section of 20px */
footer h3 {
    font-size: 20px;
}
